<go:file devused="True,True,True,True" xmlns:go='http://www.globoplc.com'></go:file>.label_class {
  color:Green;
  visibility:Visible;
  display:inline;
}
.title_class{
    color:Green;
    font-family:courier;
    font-size:large;
    font-style:i
}