<go:file devused="True,True,True,True" xmlns:go='http://www.globoplc.com'></go:file>.label_class {
  color:Green;
  visibility:Visible;
  display:inline;
}
.title_class{
    color:#32CD32;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:30px;
}
.pageBckgrd_class{
     background-color: black;
 }
 .actionButton_class{
  background: #32CD32;
  background-image: -webkit-linear-gradient(top, ##32CD32, #2980b9);
  background-image: -moz-linear-gradient(top, ##32CD32, #2980b9);
  background-image: -ms-linear-gradient(top, ##32CD32, #2980b9);
  background-image: -o-linear-gradient(top, ##32CD32, #2980b9);
  background-image: linear-gradient(to bottom, ##32CD32, #2980b9);
  -webkit-border-radius: 35;
  -moz-border-radius: 35;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.actionButton_class:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}